@import "tailwindcss";

.hidden_overflow-project {
  overflow: hidden;
}

/* Navegación mobile */
@media (width <= 640px) {
  .navigation_links {
    background-color: slategray;
    display: none;
    flex-direction: column;
    position: absolute;
    top: 0;
    right: 0;
    width: 80%;
    height: 100vh;
    z-index: 60;
  }

  .navigationactive {
    display: flex;
  }
}
